@model SmartMarathon.App.Models.SmartMarathonData

<div class="col-md-offset-3 col-md-5">
    <div id="Kms">
        @Html.EditorFor(m => m.Splits.Kilometers, new { Metric = "KM", SplitCategories = ViewData["SplitCategories"] })
    </div>
    <div id="Miles">
        @Html.EditorFor(m => m.Splits.Miles, new { Metric = "M", SplitCategories = ViewData["SplitCategories"] })
    </div>
</div>